# Specify listening addresses where we will accept clients incoming connections
address:
- bind: 127.0.0.1:9000
# In icecast, regularly broadcast metadata update to clients, this indicates bytes interval between
# metadata broadcasts.
metadata_interval: 32000
# General server info
info:
  id: CastRadio 0.1.0
  admin: admin@localhost
  location: '1.064646'
  description: Internet radio!
# Defining server general limits
limits:
  # Max clients server will ever accept, this includes admin connections
  # This should account for listeners + sources + access to api + admin api access
  clients: 400
  # Max number of listeners that may concurrently access server
  listeners: 370
  # Max number of sources ever accepted
  sources: 4
  # The most important part
  # How much audio we want to keep in queue for new users
  # This depends on bitrate of the stream
  # So for a stream with bitrate of 320kbps and we want to leave 10 seconds burst
  # 320 kilobits = 40_000 bytes
  # 40_000 bytes * 10 seconds = 400_000
  queue_size: 400000
  # Timeout when reading http request header in milliseconds
  header_timeout: 15000
  # Timeout awaiting for source steam in milliseconds
  source_timeout: 10000
  # To avoid large requests from clients that may cause denial of service, we limit request size in bytes
  http_max_len: 8192
# This is a specific interface for admin access only
admin_access:
  enabled: true
  address:
    bind: 127.0.0.1:9100
